@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: local("Lato"), 
        url("../FONTS/Lato-Black.woff2") format("woff2"), 
        url("../FONTS/Lato-Black.woff") format("woff"), 
        url("../FONTS/Lato-Black.eot") format("eot");
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    src: local("Lato"), 
        url("../FONTS/Lato-Bold.woff2") format("woff2"), 
        url("../FONTS/Lato-Bold.woff") format("woff"), 
        url("../FONTS/Lato-Bold.eot") format("eot");
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: local("Lato"), 
        url("../FONTS/Lato-Regular.woff2") format("woff2"), 
        url("../FONTS/Lato-Regular.woff") format("woff"), 
        url("../FONTS/Lato-Regular.eot") format("eot");
    font-display: swap;
}

